.animated div {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  -ms-animation: topToBottom 15s infinite;
  -webkit-animation: topToBottom 15s infinite;
  animation: topToBottom 15s infinite;
}

.animated div:nth-child(2) {
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  10%,
  50% {
    opacity: 1;
  } /* visible for 1s */
  50.01%,
  100% {
    opacity: 0;
  } /* hidden for 4s */
}
