.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  display: block;
  font-family: Arial, sans-serif;
  font-size: 0px;
  font-weight: normal;
  min-height: 100vh;
  left: 0px;
  line-height: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 1;
  overflow-y: auto;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  pointer-events: auto;
  position: fixed;
  right: 0px;
  text-align: center;
  top: 0px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
  width: 1792px;
  z-index: 10000;
}

.modal {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: showSweetAlert;
  animation-play-state: running;
  animation-timing-function: ease;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 0px;
  font-weight: normal;
  height: 286px;
  line-height: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  opacity: 0;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  pointer-events: auto;
  position: static;
  text-align: center;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.3s;
  transition-property: opacity, transform;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 478px;
  will-change: transform;
  z-index: 10001;
}
