
.header {
  position: absolute;
  height: 4rem;
  z-index: 50;
  background-color: white;
  width: 100vw;
  border-bottom: 1px solid #eee;

  @apply shadow-md;
}

.headerHidden {
  height: 4rem;
  display: block;
}
